.boldStyle{
    font-weight: 700;
}
.ant-card-head-title{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 10%;
}
.FoodsCardsDiv{
    display: flex;
    flex-direction: column;
}
.hide{display:none;
visibility: hidden;}

.alertMessage p{
    font-size: 5rem;

}
.alertMessage span{
    font-size: 10rem;

}
.alertMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

